In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df1 = pd.read_csv('df_final_web_data_pt_1.txt', low_memory=False)

In [3]:
df1

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
343136,2443347,465784886_73090545671,136329900_10529659391_316129,confirm,2017-03-31 15:15:46
343137,2443347,465784886_73090545671,136329900_10529659391_316129,step_3,2017-03-31 15:14:53
343138,2443347,465784886_73090545671,136329900_10529659391_316129,step_2,2017-03-31 15:12:08
343139,2443347,465784886_73090545671,136329900_10529659391_316129,step_1,2017-03-31 15:11:37
343140,2443347,465784886_73090545671,136329900_10529659391_316129,start,2017-03-31 15:10:47

In [4]:
df2 = pd.read_csv('df_final_web_data_pt_2.txt', low_memory=False)

In [5]:
df2

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [6]:
df_demo = pd.read_csv('df_final_demo.txt', low_memory=False)

In [7]:
df_demo

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

In [8]:
df_experiment_clients = pd.read_csv('df_final_experiment_clients.txt', low_memory=False)

In [9]:
df_experiment_clients

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

In [10]:
df_digital_footprints= pd.concat([df1, df2], axis=0)

In [11]:
df_digital_footprints

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [12]:
df_digital_footprints.shape

(755405, 5)

In [13]:
df1.shape

(343141, 5)

In [14]:
df2.shape

(412264, 5)

In [15]:
df_merged_1= pd.merge(df_demo, df_digital_footprints, how="outer", on=["client_id"])

In [16]:
final_df= pd.merge(df_merged_1, df_experiment_clients, how="outer", on=["client_id"])

In [17]:
final_df

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,visitor_id,visit_id,process_step,date_time,Variation
0,169,21.0,262.0,47.5,M,2.0,501570.72,4.0,4.0,201385055_71273495308,749567106_99161211863_557568,confirm,2017-04-12 20:23:09,NaN
1,169,21.0,262.0,47.5,M,2.0,501570.72,4.0,4.0,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05,NaN
2,169,21.0,262.0,47.5,M,2.0,501570.72,4.0,4.0,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31,NaN
3,169,21.0,262.0,47.5,M,2.0,501570.72,4.0,4.0,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45,NaN
4,169,21.0,262.0,47.5,M,2.0,501570.72,4.0,4.0,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755400,9999875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,738878760_1556639849,931268933_219402947_599432,step_3,2017-06-01 22:44:58,NaN
755401,9999875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,738878760_1556639849,931268933_219402947_599432,step_2,2017-06-01 22:41:47,NaN
755402,9999875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,738878760_1556639849,931268933_219402947_599432,step_1,2017-06-01 22:41:28,NaN
755403,9999875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,738878760_1556639849,931268933_219402947_599432,step_1,2017-06-01 22:40:08,NaN
755404,9999875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,738878760_1556639849,931268933_219402947_599432,start,2017-06-01 22:40:01,NaN

In [18]:
cleaned_df=final_df.dropna(subset=['Variation'])

In [19]:
cleaned_df

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,visitor_id,visit_id,process_step,date_time,Variation
12,555,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,402506806_56087378777,637149525_38041617439_716659,confirm,2017-04-15 13:00:34,Test
13,555,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:14,Test
14,555,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:35,Test
15,555,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:03,Test
16,555,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755376,9999729,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,834634258_21862004160,870243567_56915814033_814203,step_2,2017-05-08 16:08:40,Test
755377,9999729,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,834634258_21862004160,870243567_56915814033_814203,step_1,2017-05-08 16:08:30,Test
755378,9999729,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,834634258_21862004160,870243567_56915814033_814203,start,2017-05-08 16:08:25,Test
755391,9999832,23.0,281.0,49.0,F,2.0,431887.61,1.0,4.0,145538019_54444341400,472154369_16714624241_585315,step_1,2017-05-16 16:46:11,Test
755392,9999832,23.0,281.0,49.0,F,2.0,431887.61,1.0,4.0,145538019_54444341400,472154369_16714624241_585315,start,2017-05-16 16:46:03,Test

In [20]:
cleaned_df.nunique()

client_id            50500
clnt_tenure_yr          53
clnt_tenure_mnth       469
clnt_age               158
gendr                    4
num_accts                7
bal                  50312
calls_6_mnth             7
logons_6_mnth            7
visitor_id           56011
visit_id             69205
process_step             5
date_time           283344
Variation                2
dtype: int64

In [21]:
cleaned_df.dtypes

client_id             int64
clnt_tenure_yr      float64
clnt_tenure_mnth    float64
clnt_age            float64
gendr                object
num_accts           float64
bal                 float64
calls_6_mnth        float64
logons_6_mnth       float64
visitor_id           object
visit_id             object
process_step         object
date_time            object
Variation            object
dtype: object

In [22]:
for col in cleaned_df.columns:
    if cleaned_df[col].dtype=='object':
       print (cleaned_df[col].unique())

['U' 'M' 'F' nan 'X']
['402506806_56087378777' '66758770_53988066587' '810392784_45004760546'
 ... '843385170_36953471821' '834634258_21862004160'
 '145538019_54444341400']
['637149525_38041617439_716659' '40369564_40101682850_311847'
 '7076463_57954418406_971348' ... '493310979_9209676464_421146'
 '870243567_56915814033_814203' '472154369_16714624241_585315']
['confirm' 'step_3' 'step_2' 'step_1' 'start']
['2017-04-15 13:00:34' '2017-04-15 13:00:14' '2017-04-15 12:58:35' ...
 '2017-05-08 16:08:25' '2017-05-16 16:46:11' '2017-05-16 16:46:03']
['Test' 'Control']

In [23]:
cleaned_df['gendr'].value_counts()

gendr
U    108884
M    108013
F    104302
X         8
Name: count, dtype: int64

In [24]:
gender_counts = cleaned_df.groupby('client_id')['gendr'].size()

In [25]:
gender_counts

client_id
555         5
647         5
934         4
1028        9
1104        2
           ..
9999150     3
9999400     5
9999626     2
9999729    11
9999832     2
Name: gendr, Length: 50500, dtype: int64

In [ ]:
gender_counts.plot(kind='bar', color='skyblue')

In [ ]:
plt.show()